.border {
  border: none;
  border-color: gray;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
  color: gray;
  padding: 10px 10px 20px 15px;
}

.grid-container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.profile-container {
  display: flex;
  margin-top: 10px;
}

.profile-image {
  width: 70px;
  height: 70px;
  object-fit: contain;
  border-radius: 50px;
  margin-right: 10px;
}

.first-line {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.main-title {
  color: black;
  font-weight: bold;
}

.sub-title {
  color: black;
  font-weight: bold;
}

.link {
  display: flex;
  width: 500px;
  height: 500px;
  border-radius: 100px;
}
